.DS_Store
.idea
node_modules
dump.rdb

coverage
log/

.nyc_output

packages/react-chat/.turbo/
packages/react-chat/build/
packages/react-chat/node_modules/
packages/widget/.turbo/
packages/widget/node_modules/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build folders
build
dist

# docs
docs

#Sonar report
sonar/
nyc_coverage*

.turbo